
/* CENTRAL */

.box-central {
    position: relative;
    float: left;
    width: 737px;
    background-color: #fff;
}


.box-item-central {
    position: relative;
    float: left;
    width: 230px;
    margin: 5px;

}
.nome-itens-central{
    float: left;
    height: 30px;
    margin: 18px 0 0 12px;
    position: relative;
}

.nome-itens-central-2{
float: right;
height: 30px;
margin: 10px 23px 0 0px;
position: relative;
width: 150px;
}


/* ------------Logos ----------------- */
.logo-quem-somos{
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}

.logo-como-comprar{
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll -34px 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}

.logo-cartao-marcia{
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll -116px 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}

.logo-nao-disp{
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll -156px 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}

.logo-fale-conosco{
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll -195px 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}

.logo-politica-privacidade{
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll -233px 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}
.logo-trocas-devolucoes {
    background: url("/arquivos/sprites-central-atendimento.png") repeat scroll -273px 0 transparent;
    float: left;
    height: 30px;
    margin: 10px 7px 0;
    position: relative;
    width: 34px;

}

.titulo-item-central {
    position: relative;
    float: left;
    width: 230px;
    height: 50px;
    background: url(/arquivos/bg-titulo-central.jpg);
    background-repeat: no-repeat;

}

.nome-itens-central-3{
    float: right;
    height: 30px;
    margin: 10px 40px 0 0;
    position: relative;

}

.texto-item-central {
    position: relative;
    float: right;
    width: 170px;
    margin: 5px;
    padding: 5px;

}

p.texto-central {
    font-size: 15px;
    font-family: Arial;
    color: #000;
}

p.texto-central a {
    color: #ff7200;
}

p.texto-central a:hover {
    text-decoration: underline;
}

ul.texto-central li{
    font-size: 12px;
    font-family: Arial;
    color: #868686;
    line-height: 20px;
}
.titulo {
    font-size: 12px;
    font-family: Times New Roman, Arial;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}
.negrito{
    font-weight: bold;
}

/* ---------------------- Sobre os itens --------------------- */


body.central .box-sobre-item {
    position: relative;
    float: left;
    width: 690px;
    padding: 20px;
}

h3.titulo-sobre-item {
font-size: 31px;
font-family: 'Yanone Kaffeesatz', sans-serif;
color: #63459A;
text-transform: uppercase;
list-style: none;
font-weight: normal;
line-height: 40px;
margin-top: 0px;
}
.central h2 {
color: #10153F;
font-size: 33px;
font-weight: normal;
margin:60px 0 0 1px;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
.central h2 span {
background: #1BB2B0;
color: #fff;
padding: 0 10px;
}

.central #sidebar h3 a {font-size:16px;}

.quadrado {float:left;width:222px;}

.tituloQuadrado {}

.textoQuadrado {}

/* FIM DE CENTRAL */

/* NOVA CENTRAL */

.titcentral {
    float: left;
    width: 64%;
}

.imgcentral {
    float: left;
    width: 425px;
    height: 300px;
}

.topCentral {
color: #ff7200;
font-size: 45px;
margin: 30px 0;
text-align: left;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: bold;
}

.midCentral {
color: #999999;
font-size: 30px;
margin: 25px 0;
text-align: left;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

.boxnew {
width:258px;
height:200px;
float: left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border:3px solid #1CB7B5;
background:rgba(227,227,227,0.0);
margin: 0px 15px 15px 0px;
padding: 10px;
}

.neospacer {
margin:200px 0px 0px 0px;   
}

.boxnew h1 {
color: #10153f;
font-size: 30px;
margin: 10px 0;
text-align: center;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: bold;
}

.boxnew p {
color: #000;
font-size: 13px;
text-align: left;
font-family: 'Arial', sans-serif;
}

.boxnew h3 {
color: #ff7200;
font-size: 20px;
margin: 10px 0;
text-align: right;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: bold;
}

.boxnew h3 a {
color: #ff7200;
}

.boxnew h3 a:visited {
color: #ff7200;
}

.boxnew h3 a:hover {
color: #ff7200;
text-decoration: underline;
}

.voltar {
color: #ff7200;
font-size: 30px;
margin: 30px 0px 30px 0px;
text-align: left;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: bold; 
}

.voltar a {
    color: #ff7200;
font-size: 30px;
margin: 30px 0px 30px 0px;
text-align: left;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: bold; 
}

.voltar a:hover {
    color: #ff7200;
font-size: 30px;
margin: 30px 0px 30px 0px;
text-align: left;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: bold;
text-decoration: underline; 
}